<% if @diary.errors.any? %>
  <div class="alert alert-danger">
  <h4>error</h4>
    <ul>
      <% @diary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h3>日記を編集</h3>
<div class="container text-start py-3">
 <div class="row">
  <div class="col-md-5 mx-auto">
  <%= form_with model:@diary, url: farmer_diary_path(@diary), html: { multipart: true } do |f| %>
    <div>
    <%=f.label :images, "画像" %>
     <%= f.file_field :images, multiple:true, class: "form-control" %>
    <%=f.label :title, "タイトル" %>
     <%= f.text_field :titile, class: "form-control" %>
    <%= f.label :body, "本文" %>
     <%= f.text_area :body, class: "form-control" %>
     <div class="actions d-flex justify-content-center col-md-8">
      <%= f.submit "更新", class: "btn btn-primary", style: "width: 150px; margin-left: 210px;" %>
     </div>
    </div>
  <% end %>
  <div class="d-flex">
   <%= link_to farmer_diaries_path do %>
    <p class="mr-1"><%= '商品一覧' %></p>
   <% end %>
    <%= '|' %>
   <%= link_to farmer_diary_path(@diary) do %>
    <p class="ml-1"><%= '戻る' %></p>
   <% end %>
   </div>
 </div>
</div>