<% if @diary.errors.any? %>
  <div class="alert alert-danger">
  <h4>error</h4>
    <ul>
      <% @diary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if flash[:notice] %>
 <div class="alert alert-success">
  <%= flash[:notice] %>
 </div>
<% end %>

<h3>日記一覧</h3>
<%= link_to '日記登録', new_farmer_diary_path, style:"font-size: 32px; font-weight: bold;" %>
<div class="vh-100">
 <% @diaries.each do |item| %>
  <div class="diary-card">
  <h3><%= diary.name %>の商品一覧</h3>
   <% if diary.images.attached? %>
    <% diary.images.each do |image| %>
     <%= image_tag image.variant(resize_to_limit: [300,300]), class: "diary-image" %>
    <% end %>
    <% else %>
     <p>画像は未登録です</p>
    <% end %>
   <%= link_to '日記詳細', farmer_diary_path(diary), style:"font-size: 24px; font-weight: bold;" %>
  </div>
 <% end %>
</div>