<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>
<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<div class="container-fluid">
 <div class="row">
  <div class="col-md-8 offset-2 mt-5 text-black">
   <h1 class="mt-5 mb-5">パスワード変更</h1>
 </div>

 <%= form_with model:@customer, url:public_profile_path, scope: :customer, method: :patch, local: true, html: { multipart: true } do |f| %>
 <div class="row">
  <div class="field mb-3 col-md-2 offset-2 mt-3">
   <%= f.label :password, "パスワード(6文字以上)" %>
  </div>
  <div class="field mb-3 col-md-8 mt-3">
   <%= f.password_field :password, autocomplete: "current-password", style: "width: 450px;" %>
  </div>
  <div class="field mb-5 col-md-2 offset-2 mt-3">
   <%= f.label :password_confirmation, "パスワード（確認）" %>
  </div>
  <div class="field mb-3 col-md-8 mt-3">
   <%= f.password_field :password_confirmation, autocomplete: "new-password", style: "width: 450px;" %>
  </div>
  <div class="actions d-flex justify-content-center col-md-8 offset-md-2 mt-5">
   <%= f.submit "登録", class: "btn btn-outline-secondary", style: "width: 150px" %>
  </div>
 </div>
 <% end %>
</div>