<% if @customer.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>
<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<div class="container-fluid">
 <div class="row"> 
  <div class="col-md-8 offset-md-2 mt-5">
  <h1 class="mt-5">プロフィール更新</h1>
   <%= form_with model:@customer, url:public_profile_path, method: :patch, local: true, html: { multipart: true } do |f| %>
  <div class="field mt-5 mb-3">
   <%= f.label :image, "プロフィール画像" %>
   <%= f.file_field :image, class:"form-control-file" %>
  </div>
 </div>

 <div class="row mt-3">
  <div class="field mb-3 col-md-2 offset-2">
   <%= f.label :last_name, "姓" %>
  </div>
  <div class="field mb-3 col-md-8">
   <%= f.text_field :last_name, autofocus: true, autocomplete: "family-name", style: "width: 450px;" %>
  </div>
  <div class="field mb-3 col-md-2 offset-2">
   <%= f.label :first_name, "名" %>
  </div>
  <div class="field mb-3 col-md-8">
   <%= f.text_field :first_name, autocomplete: "given-name", style: "width: 450px;" %>
  </div>
  <div class="field mb-3 col-md-2 offset-2">
   <%= f.label :last_name, "姓(カナ)" %>
  </div>
  <div class="field mb-3 col-md-8">
   <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "family-name", style: "width: 450px;" %>
  </div>
  <div class="field mb-3 col-md-2 offset-2">
   <%= f.label :first_name, "名（カナ）" %>
  </div>
  <div class="field mb-3 col-md-8">
   <%= f.text_field :first_name_kana, autocomplete: "given-name", style: "width: 450px;" %>
  </div>
  <div class="field mb-3 col-md-2 offset-2">
   <%= f.label :email, "メールアドレス" %>
  </div>
  <div class="field mb-3 col-md-8">
   <%= f.email_field :email, autofocus: true, placeholder: "sample@example.com", autocomplete: "email", style: "width: 450px;" %>
  </div>

  <div class="actions d-flex justify-content-center col-md-8 offset-md-2 mt-3">
   <%= f.submit "更新", class:"btn btn-outline-secondary", style: "width: 150px;" %>
  </div>
   <% end %>
  <div class="d-flex justify-content-center col-md-8 offset-md-2 mt-5">
   <%= link_to "パスワード変更", edit_public_password_change_path, class: "btn btn-outline-secondary", style: "width: 150px;" %>
  </div>
 </div>
</div>
