<% if @customer.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>
<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<h1>プロフィール更新</h1>

<div class="container">
 <div class="row"> 
  <div class="col-md-9 d-flex flex-column justify-content-center">
   <%= form_with model:@customer, url:public_profile_path, method: :patch, local: true, html: { multipart: true } do |f| %>
   
  <div class="field mt-5 mb-3">
   <%= f.label :image, "プロフィール画像", class: "me-4" %>
   <%= f.file_field :image, class:"form-control-file" %>
  </div>

  <div class="field mt-5 mb-3">
  <%= f.label :last_name, "姓", class: "me-4" %>
  <%= f.text_field :last_name, autofocus: true, autocomplete: "family-name", style: "width: 450px;" %>
 </div>
 
 <div class="field mt-5 mb-3">
  <%= f.label :first_name, "名", class: "me-4" %>
  <%= f.text_field :first_name, autocomplete: "given-name", style: "width: 450px;" %>
 </div>

  <div class="field mt-5 mb-3">
   <%= f.label :last_name, "姓(カナ)", class: "me-4" %>
   <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "family-name", style: "width: 450px;" %>
  </div>

  <div class="field mt-5 mb-3">
   <%= f.label :first_name, "名（カナ）", class: "me-4" %>
   <%= f.text_field :first_name_kana, autocomplete: "given-name", style: "width: 450px;" %>
  </div>

  <div class="field mb-5">
   <%= f.label :email, "メールアドレス", class: "me-4" %>
   <%= f.email_field :email, autofocus: true, placeholder: "sample@example.com", autocomplete: "email", style: "width: 450px;" %>
  </div>

  <div class="actions d-flex justify-content-center col-md-8">
   <%= f.submit "更新", class: "btn btn-primary", style: "width: 150px; margin-left: 210px;" %>
  </div>
   <% end %>
  <%= link_to "パスワード変更", edit_public_password_change_path, class: "btn btn-primary", style: "width: 150px; margin-left: 210px;" %>
  </div>
 </div>
</div>
