<% if @customer.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>
<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<div class="container-fluid">
 <div class="row"> 
  <div class="col-12 col-md-8 mx-auto mt-5">
   <h1 class="mt-5">プロフィール更新</h1>
   <%= form_with model:@customer, url:public_profile_path, method: :patch, local: true, html: { multipart: true } do |f| %>
   <div class="field mt-5 mb-3 col-12 col-md-4 offset-md-2">
    <%= f.label :image, "プロフィール画像" %>
    <%= f.file_field :profile_image, class:"form-control-file" %>
   </div>

   <div class="field mb-3 col-12 col-md-2 offset-md-2">
    <%= f.label :last_name, "姓" %>
   </div>
   <div class="field mb-3 col-12 col-md-8 mx-auto">
    <%= f.text_field :last_name, autofocus: true, autocomplete: "family-name", class: "form-control w-100" %>
   </div>
   <div class="field mb-3 col-12 col-md-2 offset-md-2">
    <%= f.label :first_name, "名" %>
   </div>
   <div class="field mb-3 col-12 col-md-8 mx-auto">
    <%= f.text_field :first_name, autocomplete: "given-name", class: "form-control w-100" %>
   </div>
   <div class="field mb-3 col-12 col-md-2 offset-md-2">
    <%= f.label :last_name, "姓(カナ)" %>
   </div>
   <div class="field mb-3 col-12 col-md-8 mx-auto">
    <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "family-name", class: "form-control w-100" %>
   </div>
   <div class="field mb-3 col-12 col-md-2 offset-md-2">
    <%= f.label :first_name, "名（カナ）" %>
   </div>
   <div class="field mb-3 col-12 col-md-8 mx-auto">
    <%= f.text_field :first_name_kana, autocomplete: "given-name", class: "form-control w-100" %>
   </div>
   <div class="field mb-3 col-12 col-md-3 offset-md-2">
    <%= f.label :email, "メールアドレス" %>
   </div>
   <div class="field mb-3 col-12 col-md-8 mx-auto">
    <%= f.email_field :email, autofocus: true, placeholder: "sample@example.com", autocomplete: "email", class: "form-control w-100" %>
   </div>

   <div class="actions d-flex justify-content-center col-12 col-md-8 mx-auto mt-5">
    <%= f.submit "更新", class:"btn btn-outline-secondary w-50" %>
   </div>
   <% end %>

   <div class="d-flex justify-content-center col-12 col-md-8 mx-auto mt-3">
    <%= link_to "パスワード変更", edit_public_password_change_path, class: "btn btn-outline-secondary w-50" %>
   </div>

   <div class="d-flex justify-content-center mt-3 col-12 col-md-8 mx-auto mt-3">
    <%= link_to "戻る", public_customers_root_path, class: "btn btn-outline-secondary w-50" %>
   </div>
  </div>
 </div>
</div>
