<% if flash[:notice] %>
 <div class="alert alert-success">
  <%= flash[:notice] %>
 </div>
<% end %>

<h1><%= @customer.name %>さんのページ</h1>

<% image = @customer.image.attached? ? @customer.image : 'default-image.jpg' %>
<%= image_tag(image, alt: "Customer image", class: "profile-image") %>

<%= link_to "会員情報編集", edit_public_profile_path, class: "btn btn-primary" %>
<%= link_to "配送先一覧", public_addresses_path, class: "btn btn-primary" %>
<%= link_to "退会", confirm_destroy_public_profile_path, class: "btn btn-primary" %>