<% if flash[:notice] %>
 <div class="alert alert-success">
  <%= flash[:notice] %>
 </div>
<% end %>

<div class="container-fluid">
 <div class="row align-items-center">
  <div class="col-md-10 offset-2 mt-5">
   <h1 class="mt-5"><%= @farmer.name %>さんのページ</h1>
   <p class="text-muted mb-5">ご注文履歴の確認や商品の投稿ができます。</p>
  </div>
 </div>
 <div class="row">
  <div class="mt-3 col-md-2 offset-md-2">
   <%= image_tag(@farmer.get_profile_image(150, 150), alt: "Farmer image", class: "profile-image") %>
  </div>
  <div class="col-md-6 offset-md-1">
   <div>
    <p class="text-muted">商品情報</p>
    <%= link_to "商品一覧", farmer_items_path, class: " mr-4 btn btn-outline-secondary", style: "width: 120px;" %>
    <%= link_to "商品投稿", new_farmer_item_path, class: " mr-4 btn btn-outline-secondary", style: "width: 120px;" %>
    <%= link_to "日記一覧", farmer_diaries_path, class: "btn btn-outline-secondary", style: "width: 120px;" %>
   </div>
   <div class="mt-3">
    <p class="text-muted">会員情報</p>
    <%= link_to "会員一覧", farmer_customers_path, class: " mr-4 btn btn-outline-secondary", style: "width: 120px;" %>
    <%= link_to "設定変更", edit_farmer_profile_path, class: " mr-4 btn btn-outline-secondary", style: "width: 120px;" %>
    <%= link_to "退会", confirm_destroy_farmer_profile_path, class: "btn btn-outline-secondary", style: "width: 120px;" %>
   </div>
  </div>
   <div class="col-md-7 offset-md-5 mt-3">
    <p class="text-muted">メール配信</p>
    <%= link_to "会員へメール送信", new_farmer_broadcast_path, class: "btn btn-outline-secondary", style: "width: 180px;" %>
    <%= link_to "メール送信履歴", farmer_broadcast_logs_path, class: "ml-5 btn btn-outline-secondary", style: "width: 180px;" %>
   </div>
 </div>

  <div class="row order-list align-items-center mt-5">
   <div class="order-card table-responsive col-md-10 offset-md-1 mt-5">
    <h3 class="mt-5 mb-5">注文履歴一覧</h3>
    <table class="table table-striped">
     <thead>
      <tr>
       <th>注文者</th>
       <th>注文日</th>
       <th>配送先</th>
       <th>注文商品</th>
       <th>数量</th>
       <th>支払金額</th>
       <th>ステータス</th>
       <th>注文詳細</th>
      </tr>
     </thead>
     <% @orders.each do |order| %>
      <tr>
       <td><%= order.customer.name %></td>
       <td><%= order.created_at.strftime('%y/%m/%d') %></td>
       <td><%= order.address %></td>
       <td>
        <ul class="list-unstyled">
         <% order.order_details.each do |detail| %>
          <li><%= detail.item.name %></li>
         <% end %>
       </ul>
       </td>
       <td><strong><%= order.amount %></strong></td>
       <td><%= order.grand_total %></td>
       <td>
        <%= form_with model: order, url: farmer_customer_order_path(order.customer, order), method: :patch, local: true do |f| %>
         <% order.status_i18n %>
         <%= f.select :status,
         Order.statuses.map { |key,_| [I18n.t("enums.order.status.#{key}"), key] },
         {selected: order.status},
         class: "form-control mr-2", style: "width: 140px;", onchange: "this.form.submit();" %>
        <% end %>
       </td>
       <td><%= link_to "詳細", farmer_customer_order_path(order.customer, order), class: "btn btn-outline-secondary" %></td>
      </tr>
     <% end %>
    </table>
    <%= paginate @orders, theme: 'bootstrap4' %>
   </div>

  <h3 class="mt-5 col-md-8 offset-md-2">所在地</h3>
  <div class="mt-5 col-md-8 offset-md-2">
   <% if @farmer.location&.latitude.to_f != 0 && @farmer.location&.longitude.to_f != 0 %>
    <div
     data-controller="map"
     data-lat="<%= @farmer.location.latitude %>"
     data-lng="<%= @farmer.location.longitude %>"
     style="height: 400px;">
    </div>
   <% else %>
    <h3>住所が未登録のため、地図は表示できません。</h3>
   <% end %>
  </div>
 </div>
</div>