<% if @customer.errors.any? %>
  <div class="alert alert-danger">
  <h4>error</h4>
    <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if flash[:notice] %>
 <div class="alert alert-success">
  <%= flash[:notice] %>
 </div>
<% end %>

<h3>会員一覧</h3>
<div class="vh-100">
 <% @customers.each do |customer| %>
  <div class="customer-card">
   <% if customer.image.attached? %>
     <%= image_tag customer.image.variant(resize_to_limit: [300,300]), class: "customer-image" %>
    <% else %>
     <%= image_tag(customer.get_profile_image(100, 100), alt: "Customer image", class: "profile-image") %>
    <% end %>
   <h3><%= customer.name %></h3>
   <%= link_to '会員詳細', farmer_customer_path(customer), style:"font-size: 24px; font-weight: bold;" %>
  </div>
 <% end %>
</div>