<% if flash[:notice] %>
 <div class="alert alert-success">
  <%= flash[:notice] %>
 </div>
<% end %>

<div class="container p-3">
 <div class="row">
  <div class="col-md-12">
  <h3>ご注文者様：<%= @customer.name %></h3>
  <% if @customer.image.attached? %>
   <%= image_tag @customer.image.variant(resize_to_limit: [300,300]), class: "customer-image" %>
   <% else %>
    <%= image_tag(@customer.get_profile_image(100, 100), alt: "Customer image", class: "profile-image") %>
   <% end %>

  <h3>注文履歴一覧</h3>
   <div class="table-responsive">
    <table class="table table-striped">
     <thead>
      <tr>
       <th>注文日</th>
       <th>配送先</th>
       <th>注文商品</th>
       <th>支払金額</th>
       <th>ステータス</th>
       <th>注文詳細</th>
      </tr>
     </thead>
     <% @orders.each do |order| %>
      <tr>
       <td><%= order.created_at.strftime('%y/%m/%d') %></td>
       <td><%= order.address %></td>
       <td>
        <ul class="list-unstyled">
         <% order.order_details.each do |detail| %>
          <li><%= detail.item.name %></li>
         <% end %>
        </ul>
       </td>
       <td><%= order.grand_total %></td>
       <td><%= order.status_i18n %></td>
       <td><%= link_to "詳細", farmer_customer_order_path(order), class: "btn btn-primary" %></td>
      </tr>
     <% end %>
    </table>
    <%= paginate @orders, theme: 'bootstrap4' %>
   </div>
  </div>
 </div>
</div>