<% if flash[:notice] %>
 <div class="alert alert-success">
  <%= flash[:notice] %>
 </div>
<% end %>

<div class="container-fluid">
 <div class="row order-list align-items-center mt-5">
  <div class="order-card table-responsive col-md-8 offset-md-2 mt-5">
   <h1 class="mt-5 mb-5">注文履歴詳細</h1>
   <table class="table table-striped">
    <% @order_details.each do |detail| %>
    <tr><th>注文者</th><td><%= detail.customer.name %></td></tr>
    <tr><th>注文日</th><td><%= detail.created_at.strftime('%Y/%m/%d') %></td></tr>
    <tr><th>商品</th><td><%= detail.item.name %></td></tr>
    <tr><th>数量</th><td><%= detail.amount %> 個</td></tr>
    <tr><th>単価</th><td><%= number_to_currency(detail.item.price, unit: "円") %></td></tr>
    <tr><th>送料</th><td><%= number_to_currency(@shipping_cost, unit: "円") %></td></tr>
    <tr><th>合計</th><td><%= number_to_currency(@order_details.sum { |d| d.amount * d.price } + @shipping_cost, unit: "円") %></td></tr>
    <tr><th>支払い方法</th><td><%= @order.payment_method_i18n %></td></tr>
    <tr><th>ステータス</th><td><%= @order.status_i18n %></td></tr>
    <tr><th>お届け先</th><td><%= @postal_code %> / <%= @address %> / <%= @shipping_name %></td></tr>
    <% end %>
   </table>
  </div>
  <div class="d-flex justify-content-center mt-3 col-md-8 offset-md-2">
   <%= link_to "戻る", farmer_customer_path(@customer), class: "btn btn-outline-secondary", style: "width: 90px;" %>
  </div>
 </div>
</div>