<% if @address.errors.any? %>
  <div class="alert alert-danger">
  <h4>error</h4>
    <ul>
      <% @address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container-fluid>
 <div class="row">
  <div class="col-md-8 offset-2 mt-5">
   <h1 class="mt-5">登録住所を編集</h1>
  </div>
 </div>

 <%= form_with model:@address, url: public_address_path(@address), html: { multipart: true } do |f| %>
 <div class="row mt-5">
  <div class="field mb-3 col-md-2 offset-2">
   <%= f.label :shipping_name, "宛先" %>
  </div>
  <div class="field mb-3 col-md-8">
   <%= f.text_field :shipping_name, autofocus: true, autocomplete: "shipping-name", style: "width: 450px;" %>
  </div>
  <div class="field mb-3 col-md-2 offset-2">
   <%= f.label :postal_code, "郵便番号" %>
  </div>
  <div class="field mb-3 col-md-8">
   <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", style: "width: 450px;" %>
  </div>
  <div class="field mb-3 col-md-2 offset-2">
   <%= f.label :address, "住所" %>
  </div>
  <div class="field mb-3 col-md-8">
   <%= f.text_field :address, autofocus: true, autocomplete: "address", style: "width: 450px;" %>
  </div>
  <div class="actions mt-3 d-flex justify-content-center col-md-8 offset-md-2">
   <%= f.submit "更新", class: "btn btn-outline-secondary", style: "width: 150px;" %>
  </div>
 </div>
 <% end %>
  <div class="d-flex justify-content-center mt-3">
   <%= link_to "住所一覧", public_addresses_path, class: "btn btn-outline-secondary", style: "width: 150px;" %>
  </div>
</div>