<% if @item.errors.any? %>
  <div class="alert alert-danger">
  <h4>error</h4>
    <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if flash[:notice] %>
 <div class="alert alert-success">
  <%= flash[:notice] %>
 </div>
<% end %>

<div class="vh-100">
 <h3>商品一覧</h3>
 <% @items.each do |item| %>
  <div class="item-card">
   <% if item.images.attached? %>
    <% item.images.each do |image| %>
     <%= image_tag image.variant(resize_to_limit: [300,300]), class: "item-image" %>
    <% end %>
    <% else %>
     <p>画像は未登録です</p>
    <% end %>
    <h5><%= item.name %></h5>
    <%= link_to '商品詳細', farmer_item_path(item), style:"font-size: 24px; font-weight: bold;" %>
    <%= link_to 'この商品の日記を投稿', new_farmer_diary_path, style:"font-size: 24px; font-weight: bold;" %>
    <%= link_to "この商品の日記", farmer_diaries_path, class: "btn btn-outline-secondary text-black", style: "width: 90px;" %>
  </div>
 <% end %>
</div>