<% if @item.errors.any? %>
  <div class="alert alert-danger">
  <h4>error</h4>
    <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if flash[:notice] %>
 <div class="alert alert-success">
  <%= flash[:notice] %>
 </div>
<% end %>

<h1>商品の新規登録</h1>
<div class="container">
 <div class= "row">
 <%= form_with model:@item, url: farmer_items_path, html: { multipart: true } do |f| %>
  <div>
  <%=f.label :name, "商品" %>
   <%= f.text_field :name, class: "form-control" %>
  <%=f.label :images, "画像" %>
   <%= f.file_field :images, multiple:true, class: "form-control-file" %>
  <%= f.label :introduction, "説明" %>
   <%= f.text_area :introduction, class: "form-control" %>
  <%= f.label :price, "価格" %>   
   <%= f.number_field :price, min: 0, step: 1, class: "form-control" %>
  <%= f.label :harvest_time, "収穫時期" %>
   <%= f.text_area :harvest_time, class: "form-control" %>

   <div class="actions d-flex justify-content-center col-md-8">
    <%= f.submit "投稿", class: "btn btn-primary", style: "width: 150px; margin-left: 210px;" %>
   </div>
  </div>
 <% end %>
 </div>
</div>