<% if flash[:notice] %>
 <div class="alert alert-success">
  <%= flash[:notice] %>
 </div>
<% end %>

<div class="container-fluid">
 <div class="row align-items-start">
  <div class="col-12 col-md-10 mx-auto mt-5">
   <h1 class="mt-5">フォロー中の生産者一覧</h1>
   <div class="row farmer-list">
    <% if @farmers.any? %>
     <% @farmers.each do |farmer| %>
      <div class="farmer-card mt-5 col-md-5">
       <h3>生産者名：<%= farmer.name %></h3>
       <h3>紹介文：<%= farmer.introduction %></h3>
       <h3>
        商品：
        <%= farmer.items.first.name if farmer.items.any? %>
        <span style="font-size: 0.7em">ほか</span>
       </h3>
       <div class="mt-3 mb-3">
        <% if farmer.profile_image.attached? && farmer.profile_image.variable? %>
         <%= image_tag farmer.profile_image.variant(resize_to_limit: [150,150]), class: "farmer-image" %>
        <% else %>
         <%= image_tag(farmer.get_profile_image(150, 150), alt: "Farmer image", class: "profile-image") %>
        <% end %>
         <%= link_to '日記一覧', public_farmer_diaries_path(farmer), class: "ml-5 btn btn-outline-secondary flex-fill" %>
       </div>
       <div class="mt-5 col-md-8 mx-auto">
        <% if farmer.location&.latitude.present? && farmer.location&.longitude.present? %>
         <div
          data-controller="map"
          data-lat="<%= farmer.location.latitude %>"
          data-lng="<%= farmer.location.longitude %>"
          style="height: 300px; width: 300px;">
         </div>
        <% else %>
         <h3>住所が未登録のため、地図は表示できません。</h3>
        <% end %>
       </div>
      </div>
     <% end %>
    <% else %>
     <h3>フォロー中の農家はまだありません。</h3>
    <% end %>
    <div class="d-flex justify-content-center mt-3 col-md-8 mx-auto">
     <%= link_to "戻る", public_customers_root_path, class: "btn btn-outline-secondary w-50" %>
    </div>
   </div>
  </div>
 </div>
</div>