<% if flash[:notice] %>
 <div class="alert alert-success">
  <%= flash[:notice] %>
 </div>
<% end %>

<div class="container-fluid">
 <h1 class="col-md-8 offset-md-2 mt-5">検索結果</h1>
 <div class="row mt-5">
  <div class="farmer-card col-md-4 offset-md-2 mt-5">
   <% if @farmers.present? %>
    <% @farmers.each do |farmer| %>
     <h3>生産者名：<%= farmer.name %></h3>
     <% if farmer.profile_image.attached? %>
      <%= image_tag farmer.profile_image.variant(resize_to_limit: [150,150]), class: "profile-image" %>
     <% else %>
      <%= image_tag(farmer.get_profile_image(150, 150), alt: "Farmer image", class: "profile-image") %>
     <% end %>
     <%= link_to "詳細", public_farmers_path(farmer), class: "offset-1 btn btn-outline-secondary", style: "width: 90px;" %>
    <% end %>
   <% else %>
    <p>該当する生産者は見つかりませんでした。</p>
   <% end %>
  </div>
 </div>
</div>