<div class="container-fluid">
 <div class="row align-items-start">
  <div class="liked-customers col-md-10 offset-2 mt-5">
   <h1 class="mt-5 mb-5">いいねしてくれたユーザー一覧</h1>
    <% if @post.likes.any? %>
     <% @likes.each do |like| %>
      <div class="customer-card mt-5 col-md-5">
       <h4>ユーザー名：<%= like.customer.name %></h4>
      <% if like.customer.profile_image.attached? %>
       <% if like.customer.profile_image.variable? %>
        <%= image_tag like.customer.profile_image.variant(resize_to_limit: [150,150]), class: "profile-image" %>
       <% else %>
        <%= image_tag like.customer.profile_image, class: "profile-image thumbnail" %>
       <% end %>
      <% else %>
       <p>画像は未登録です</p>
      <% end %>
       <%= link_to '会員詳細', farmer_customer_path(like.customer), class: "ml-5 btn btn-outline-secondary", style: "width: 120px;" %>
      </div>
     <% end %>
    <% else %>
     <p>まだ誰もいいねしていません</p>
    <% end %>
  </div>
 <div class="d-flex justify-content-center mt-3 col-md-8 offset-md-2">
  <%= link_to "戻る", farmer_diary_posts_path(@diary), class: "btn btn-outline-secondary", style: "width: 90px;" %>
 </div>
 </div>
</div>