<% if @post.errors.any? %>
  <div class="alert alert-danger">
  <h4>error</h4>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if flash[:notice] %>
 <div class="alert alert-success">
  <%= flash[:notice] %>
 </div>
<% end %>

<div class="container-fluid">
 <div class="row align-items-start">
  <% @posts.each do |post| %>
  <div class="post-card col-md-6 offset-2 mt-5">
   <% if @posts.empty? %>
    <p style="font-size: 18px; color: gray;">まだ投稿がありません</p>
   <% else %>
    <h3><%= post.title %></h3>
   <% if post.images.attached? %>
    <% post.images.each do |image| %>
     <%= image_tag image.variant(resize_to_limit: [300,300]), class: "post-image" %>
    <% end %>
    <% else %>
     <p>画像は未登録です</p>
    <% end %>
    <%= link_to '投稿詳細', farmer_diary_post_path(@diary, post), class: "ml-5 btn btn-outline-secondary", style: "width: 120px;" %>
    <h3>投稿日：<%= post.created_at.strftime('%y/%m/%d') %></h3>
   <% end %>
  </div>
  <% end %>
 </div>
  <div class="d-flex justify-content-center mt-5">
   <%= link_to '新規投稿', new_farmer_diary_post_path, class:"btn btn-outline-secondary", style: "width: 120px;" %>
  </div>
</div>