<% if flash[:notice] %>
 <div class="alert alert-success">
  <%= flash[:notice] %>
 </div>
<% end %>

<div class="container-fluid">
 <div class="row align-items-start">
  <div class="col-md-10 mx-auto mt-5">
   <h1 class="mt-5 mb-5"><%= @post.title %></h1>
  </div>
 </div>

 <div class="row post-list">
  <div class="post-card col-md-8 mx-auto mt-3">
   <% if @post.images.attached? %>
    <% @post.images.each do |image| %>
    <%= image_tag image.variant(resize_to_limit: [300,300]), class: "post-image" %>
   <% end %>
   <% else %>
    <p>画像は未登録です</p>
   <% end %>
   <% @post.videos.each do |video| %>
    <video class="w-25 d-flex flex-column" controls>
     <source src="<%= url_for(video) %>" type="<%= video.content_type %>">
     お使いのブラウザは video タグをサポートしていません。
    </video>
   <% end %>
   <h3 class="mt-3">タイトル：<%= @post.title %></h3>
   <h3 class="mt-3">本文：<%= @post.body %></h3>
   <h3 class="mt-3">投稿日：<%= @post.created_at.strftime('%y/%m/%d') %></h3>
   <%= link_to "編集", edit_farmer_diary_post_path(@diary,@post), class: "btn btn-outline-secondary mt-3 w-10" %>
   <%= link_to "削除", farmer_diary_post_path(@diary,@post), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "ml-1 mt-3 btn btn-outline-secondary w-10" %>

   <p class="mt-3">いいね数：♥<%= @post.likes.count %></p>
    <%= link_to "いいねしたユーザーを見る", farmer_diary_post_likes_path(@diary, @post) %>

   <div>
    <p class="mt-3">コメント件数：<%= @post.comments.count %></p>
    <% @post.comments.each do |comment| %>
     <p><%= image_tag comment.customer.get_profile_image(100,100) %></p>
     <%= comment.customer.name %>
     <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.body %>
    <% end %>
   </div>
   <% if @feedback.present? %>
    <div class="ai-feedback mt-5">
     <h3>AIからのフィードバック</h3>
     <p><%= simple_format(@feedback) %></p>
    </div>
   <% end %>
  </div>
 </div>
 <div class="d-flex justify-content-center mt-5">
  <%= link_to "戻る", farmer_diary_posts_path(@diary), class: "btn btn-outline-secondary w-25" %>
 </div>
</div>