<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>
<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<div class="container-fluid">
 <div class="row"> 
  <div class="col-md-8 offset-md-2 mt-5">
   <h1 class="mb-5">生産者ログイン</h1>
   <%= form_with model:@farmer, url:farmer_session_path, scope: :farmer, local: true do |f| %>
    <div class="field mt-3 mb-3">
     <%= f.label :email, "メールアドレス", class: "mr-3" %>
     <%= f.email_field :email, autofocus: true, placeholder: "sample@example.com", autocomplete: "email", style: "width: 450px;" %>
    </div>

    <div class="field mb-3">
     <%= f.label :password, "パスワード", class: "mr-5" %>
     <%= f.password_field :password, autocomplete: "current-password", style: "width: 450px;" %>
    </div>
   
    <div class="actions mt-5 d-flex justify-content-center col-md-8 offset-md-2">
     <%= f.submit "ログイン", class: "btn btn-outline-secondary text-black", style: "width: 150px;" %>
    </div>
   <% end %>
   <div class="lh-lg mt-5">
    <h5 class="mb-3">※デモユーザーのログインは以下です。<br>
         メールアドレス：farmer@example.com<br>
         パスワード：password
    </h5>
    <%= render "farmer/shared/links" %>
  </div>
 </div>
</div>
