<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>
<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<p class="col-md-3 d-flex justify-content-end">
 <span style="background-color: #f0f0f0;"><strong>生産者</strong>ログイン</p></span>

<div class="container">
 <div class="row"> 
 <div class="col-md-9 d-flex flex-column justify-content-center">
  <%= form_with model:@farmer, url:farmer_session_path, scope: :farmer, local: true do |f| %>
   <div class="field mt-5 mb-3">
    <%= f.label :email, "メールアドレス", class: "me-4" %>
    <%= f.email_field :email, autofocus: true, placeholder: "sample@example.com", autocomplete: "email", style: "width: 450px;" %>
   </div>

   <div class="field mb-5">
    <%= f.label :password, "パスワード", class: "me-5" %>
    <%= f.password_field :password, autocomplete: "current-password", style: "width: 450px;" %>
   </div>
   
   <div class="actions d-flex justify-content-center col-md-8">
    <%= f.submit "ログイン", class: "btn btn-primary", style: "width: 150px; margin-left: 210px;" %>
   </div>
  <% end %>
 </div>
 </div>
</div>
<%= render "farmer/shared/links" %>
