<% if flash[:notice] %>
 <div class="alert alert-success">
  <%= flash[:notice] %>
 </div>
<% end %>

<div class="container-fluid">
 <h1 class="col-md-8 offset-md-2 mt-5">検索結果</h1>
 <div class="row mt-5">
  <div class="diary-card col-md-8 offset-md-2 mt-5">
   <% if @diaries.present? %>
    <% @diaries.each do |diary| %>
     <h3 class="mt-3">タイトル：<%= diary.title %></h3>
     <h3 class="mt-3">本文：<%= diary.body %></h3>
     <% if diary.images.attached? %>
     <% diary.images.each do |image| %>
      <%= image_tag image.variant(resize_to_limit: [300,300]), class: "diary-image" %>
     <% end %>
     <% else %>
      <p>画像は未登録です</p>
     <% end %>
     <%= link_to "詳細を見る", public_farmer_diary_path(diary.farmer_id, diary), class: "offset-md-1 btn btn-outline-secondary", style: "width: 120px;" %>
    <% end %>
   <% else %>
    <p>該当する日記は見つかりませんでした。</p>
   <% end %>
  </div>
 </div>
</div>