<% if flash[:notice] %>
 <div class="alert alert-success">
  <%= flash[:notice] %>
 </div>
<% end %>

<div class="container-fluid">
 <div class="row">
  <div class="col-12 col-md-8 mx-auto mt-5">
   <h1 class="mt-5 mb-5">投稿一覧</h1>
  </div>
 </div>
  <%= form_with url: public_farmer_diary_posts_path(@diary.farmer_id, @diary.id), method: :get, local: true do |f| %>
    <div class="filter-form row">
     <div class="field col-12 col-md-8 mx-auto">
      <%= f.label :start_date, t("activerecord.attributes.post.start_date") %>
      <%= f.date_field :start_date, value: params[:start_date], class: "form-control w-25" %>
     </div>
     <div class="field col-12 col-md-8 mx-auto mt-2">
      <%= f.label :end_date, t("activerecord.attributes.post.end_date") %>
      <%= f.date_field :end_date, value: params[:end_date], class: "form-control w-25" %>
     </div>
     <div class="actions col-12 col-md-8 mx-auto mt-2 mb-5">
      <%= f.submit "絞り込む", class: "btn btn-outline-secondary w-25" %>
     </div>
    </div>
  <% end %>

 <div class="row post-list">
 <% @posts.each do |post| %>
  <div class="post-card col-12 col-md-8 mx-auto mt-3">
   <% if post.images.attached? %>
    <% post.images.each do |image| %>
    <%= image_tag image.variant(resize_to_limit: [300,300]), class: "post-image" %>
   <% end %>
   <% else %>
    <p>画像は未登録です</p>
   <% end %>
   <h3>タイトル：<%= post.title %></h3>
   <h3>本文：<%= post.body %></h3>
   <h3>投稿日：<%= post.created_at.strftime('%y/%m/%d') %></h3>
   <%= link_to '投稿詳細', public_farmer_diary_post_path(@diary.farmer_id, @diary.id, post), class: "btn btn-outline-secondary", style: "width: 120px;" %>
  </div>
 <% end %>
 </div>

 <div class="d-flex justify-content-center mt-5">
  <%= link_to '戻る', public_farmer_diaries_path, class:"btn btn-outline-secondary", style: "width: 90px;" %>
 </div>
</div>