<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>
<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<div class="container-fluid">
 <div class="row">
  <div class="col-md-8 offset-2 mt-5">
   <h1 class="mt-5 mb-5">注文内容の確認</h1>
   <table class="table">
    <tr><th>商品</th><td><%= @item.name %></td></tr>
    <tr><th>数量</th><td><%= @order.amount %> 個</td></tr>
    <tr><th>単価</th><td><%= number_to_currency(@item.price, unit: "円(税込)") %></td></tr>
    <tr><th>小計</th><td><%= number_to_currency(@item.price * @order.amount, unit: "円(税込)") %></td></tr>
    <tr><th>送料</th><td><%= number_to_currency(@order.shipping_cost, unit: "円") %></td></tr>
    <tr><th>合計</th><td><%= number_to_currency(@order.grand_total, unit: "円(税込)") %></td></tr>
    <tr><th>届け先</th><td><%= @order.address %></td></tr>
    <tr>
     <th>支払方法</th>
      <td>
       <% case @selected_payment_method %>
       <% when "credit_card" %>
        クレジットカード
       <% when "bank_transfer" %>
        銀行振込
       <% else %>
        コンビニ
       <% end %>
      </td>
    </tr>
   </table>

   <%= form_with model:@order, url: public_orders_path, method: :post, local:true do |f| %>

    <%= f.hidden_field :payment_method, value: @selected_payment_method %>
    <%= f.hidden_field :item_id, value: @item.id %>
    <%= f.hidden_field :item_price, value: @item.price %>
    <%= f.hidden_field :amount, value: @order.amount %>
    <%= f.hidden_field :customer_id, value: current_customer.id %>
    <%= f.hidden_field :address, value: @order.address %>
    <%= f.hidden_field :address_type, value: @address_type %>
    <% if @address_type == "existing" %>
     <%= f.hidden_field :address_id, value: @address.id %>
    <% end %>
    <%= f.hidden_field :postal_code, value: @order.postal_code %>
    <%= f.hidden_field :shipping_name, value: @order.shipping_name %>
    <%= f.hidden_field :shipping_cost, value: @order.shipping_cost %>
    <%= f.hidden_field :grand_total, value: @order.grand_total %>

    <% if @address_type == "existing" %>
     <%= f.hidden_field :address_id, value: @address.id %>
    <% elsif @address_type == "new" %>
     <%= f.hidden_field :new_post_code, value: params[:order][:new_post_code] %>
     <%= f.hidden_field :new_address, value: params[:order][:new_address] %>
     <%= f.hidden_field :new_shipping_name, value: params[:order][:new_shipping_name] %>
    <% end %>

    <% if @selected_payment_method == "credit_card" %>
     <div class="text-center mt-4">
      <%= button_to "クレジットカードで支払う", public_checkouts_path(item_id: @item.id, amount: @amount), method: :post, class: "btn btn-primary", form: { data: { turbo: false } } %>
     </div>
    <% end %>
     <%= f.submit "注文を確定する", class: "col-md-6 offset-md-5 mt-5 btn btn-success", style: "width: 150px;" %>
   <% end %>
  </div>
 </div>
</div>