<% if @order.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>
<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<p class="col-md-3 d-flex justify-content-end">
 <span style="background-color: #f0f0f0;">注文情報入力</span>
</p>

 <div class="container">
 <div class="row">
 <div class="col-md-9 d-flex flex-column justify-content-center">
  <%= form_with model:@order, url:public_orders_path, local: true do |f| %>
    <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
     <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
    <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
     <%= f.label :payment_method_bank_transfer, Order.payment_methods_i18n[:bank_transfer]%>
    <%= f.radio_button :payment_method, Order.payment_methods.key(2) %>
     <%= f.label :payment_method_convenience_store, Order.payment_methods_i18n[:convenience_store]%>

    <div class="field mt-5 mb-3">
     <%= f.label :name, "宛先", class: "me-4" %>
     <%= f.text_field :name %>
    </div>

    <div class="field mt-5 mb-3">
     <%= f.label :postal_code, "郵便番号", class: "me-4" %>
     <%= f.text_field :postal_code %>
    </div>

    <div class="field mt-5 mb-3">
     <%= f.label :address, "住所", class: "me-4" %>
     <%= f.text_field :address %>
    </div>

    <div class="actions d-flex justify-content-center col-md-8">
     <%= f.submit "登録", class: "btn btn-primary", style: "width: 150px; margin-left: 210px;" %>
    </div>
  <% end %>
 </div>
 </div>
 </div>