<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>
<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<p class="col-md-3 d-flex justify-content-end">
 <span style="background-color: #f0f0f0;">注文情報入力</span>
</p>

 <div class="container">
 <div class="row">
 <div class="col-md-9 d-flex flex-column justify-content-center">
  <%= form_with model:@order, url:public_orders_path, local: true do |f| %>
   <fieldset>
    <legend>支払方法</legend>
    <% Order.payment_methods.each do |key, value| %>
     <%= f.radio_button :payment_method, key %>
     <%= f.label :"payment_method_#{key}", Order.payment_methods_i18n[key] %>
    <% end %>
   </fieldset>

   <fieldset>
    <legend>お届け先</legend>
     <div class= "form-check">
      <%= f.radio_button :address_type, "existing", id:"address_existing", class:"form-check-input" %>
      <%= f.label :address_existing, "登録済み住所から選択", class:"form-check-label" %>
      <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display), {}, class: "form-select"%>
     </div>

    <div class="form-check mt-2">
     <%= f.radio_button :address_type, "new", id:"address_new", class:"form-check-input" %>
     <%= f.label :address_new, "新しいお届け先", class:"form-check-label" %>

     <div class= "mt-2">
      <%= f.label :name, "宛先", class: "form-label" %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :postal_code, "郵便番号", class: "form-label mt-2" %>
      <%= f.text_field :postal_code, class: "form-control" %>

      <%= f.label :address, "住所", class: "form-label mt-2" %>
      <%= f.text_field :address, class: "form-control" %>
     </div>
    </div>
   </fieldset>

    <div class="actions d-flex justify-content-center col-md-8">
     <%= f.submit "登録", class: "btn btn-primary", style: "width: 150px; margin-left: 210px;" %>
    </div>
  <% end %>
 </div>
 </div>
 </div>