<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>
<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<div class="container-fluid">
 <div class="row">
  <div class="col-md-8 offset-2 mt-5">
   <h1 class="mt-5 mb-5">注文情報入力</h1>
   <h3><strong><%= @item.name %></strong>の商品情報</h3>
   <% if @item.images.attached? %>
   <% @item.images.each do |image| %>
    <%= image_tag image.variant(resize_to_limit: [200,200]), class:"item-image" %>
   <% end %>
  <% else %>
   <p>画像は未登録です</p>
  <% end %>

  <h3>農家：<%= @item.farmer.name %></h3>
  <h3>商品説明：<%= @item.introduction %></h3>
  <h3>税込価格：<%= @item.price %>円</h3>
  <h3>収穫時期：<%= @item.harvest_time %></h3>
  <h3><%= I18n.t("activerecord.attributes.item.statuses.#{@item.status}") %></h3>
  <h3>数量：<%= @amount %>個</h3>
  <h3>合計金額：<%= number_to_currency(@item.price * @amount, unit: "円") %></h3>
  
  <%= form_with model:@order, url:confirm_public_orders_path, local: true do |f| %>
   <fieldset>
   <%= f.hidden_field :item_id, value: @item.id %>
   <%= f.hidden_field :amount, value: @amount %> 
    <legend>支払方法</legend>
    <% Order.payment_methods.each do |key, value| %>
     <%= f.radio_button :payment_method, key %>
     <%= f.label :"payment_method_#{key}", Order.payment_methods_i18n[key] %>
    <% end %>
   </fieldset>

   <fieldset>
    <legend>お届け先</legend>
     <div class= "form-check">
      <%= f.radio_button :address_type, "existing", id:"address_existing", class:"form-check-input" %>
      <%= f.label :address_existing, "登録済み住所から選択", class:"form-check-label" %>
      <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display), {}, class: "form-select"%>
     </div>

    <div class="form-check mt-2">
     <%= f.radio_button :address_type, "new", id:"address_new", class:"form-check-input" %>
     <%= f.label :address_new, "新しいお届け先", class:"form-check-label" %>

     <div class= "mt-2">
      <%= f.label :shipping_name, "宛先", class: "form-label" %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :postal_code, "郵便番号", class: "form-label mt-2" %>
      <%= f.text_field :postal_code, class: "form-control" %>

      <%= f.label :address, "住所", class: "form-label mt-2" %>
      <%= f.text_field :address, class: "form-control" %>
     </div>
    </div>
   </fieldset>

    <div class="actions d-flex justify-content-center mt-5">
     <%= f.submit "注文する", class: "mt-5 btn btn-outline-secondary", style: "width: 150px;" %>
    </div>
  <% end %>
  </div>
 </div>
</div>