<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>
<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<div class="container-fluid">
 <div class="row">
  <div class="col-md-8 offset-md-2 mt-5 text-black">
   <h5>ユーザーログイン</h5>
   <%= form_with model:@customer, url:customer_session_path, scope: :customer, local: true do |f| %>
    <div class="field mt-3 mb-3">
     <%= f.label :email, "メールアドレス", class: "mr-3" %>
     <%= f.email_field :email, autofocus: true, placeholder: "sample@example.com", autocomplete: "email", style: "width: 450px;" %>
    </div>

    <div class="field mb-3">
     <%= f.label :password, "パスワード", class: "mr-5" %>
     <%= f.password_field :password, autocomplete: "current-password", style: "width: 450px;" %>
    </div>
   
    <div class="actions d-flex justify-content-center col-md-8">
     <%= f.submit "ログイン", class: "btn btn-outline-secondary text-black", style: "width: 150px; margin-left: 210px;" %>
    </div>
   <% end %>
   <div class="lh-lg mt-5">
    <h5 class="mb-3">※デモユーザーのログインは以下です。<br>
    メールアドレス：customer@example.com<br>
    パスワード：password
    </h5>
    <%= link_to "生産者ログインページ", new_farmer_session_path %><br>
    <%= render "public/shared/links" %>
   </div>
  </div>
 </div>
</div>
