<% if flash[:notice] %>
 <div class="alert alert-success">
  <%= flash[:notice] %>
 </div>
<% end %>

<div class="container-fluid">
 <div class="row align-items-start">
  <div class="col-md-10 offset-md-2 mt-5">
   <h1 class="mt-5">出品されている商品一覧</h1>
   <div class="row item-list">
    <% @items.each do |item| %>
     <div class="item-card mt-5 col-md-5">
      <h3>商品名：<%= item.name %></h3>
      <h3>生産者：<%= item.farmer.name %></h3>
      <div class="mt-3 mb-3">
       <%= link_to '商品詳細', public_item_path(item), class: "btn btn-outline-secondary", style: "width: 120px;" %>
      </div>
      <% if item.images.attached? %>
       <% item.images.each do |image| %>
        <%= image_tag image.variant(resize_to_limit: [200,200]), class: "item-image" %>
       <% end %>
      <% else %>
       <p>画像は未登録です</p>
      <% end %>
      <% if item.on_sale? %>
       <h3 class="d-flex mt-5">収穫期間のカレンダー</h3>
       <div id="calendar-<%= item.id %>" class="mb-5" data-start-date="<%= item.harvest_start %>">
       </div>
      <% else %>
       <div class="alert alert-warning mt-5 text-center">
       この商品は現在販売されていません。
       </div>
      <% end %>
     </div>
    <% end %>
    <div class="d-flex justify-content-center mt-3 col-md-8 offset-md-1">
     <%= link_to "戻る", public_customers_root_path, class: "btn btn-outline-secondary", style: "width: 90px;" %>
    </div>
   </div>
  </div>
 </div>
</div>