<% if flash[:notice] %>
 <div class="alert alert-success">
  <%= flash[:notice] %>
 </div>
<% end %>

<div class="container-fluid">
 <div class="row">
  <div class="col-md-8 offset-2 mt-5">
   <h1 class="mt-5"><strong><%= @item.name %></strong>の商品情報</h1>
  </div>
 </div>
 <div class="row">
  <div class="item-card mt-5 col-md-8 offset-md-2">
    <% if @item.images.attached? %>
     <% @item.images.each do |image| %>
     <%= image_tag image.variant(resize_to_limit: [300,300]), class: "item-image" %>
     <% end %>
    <% else %>
     <p>画像は未登録です</p>
    <% end %>
     <h3 class="mt-3">生産者：<%= @item.farmer.name %></h3>
     <h3 class="mt-3">商品説明：<%= @item.introduction %></h3>
     <h3 class="mt-3">価格：<%= @item.price %>円(税込)</h3>
     <h3 class="mt-3">
      収穫時期：
      <% if @item.harvest_start && @item.harvest_end %>
       <%= @item.harvest_start.strftime('%Y年%m月%d日') %> 〜 <%= @item.harvest_end.strftime('%Y年%m月%d日') %>
      <% elsif @item.harvest_start %>
       <%= @item.harvest_start.strftime('%Y年%m月%d日') %>（開始日のみ）
      <% elsif @item.harvest_end %>
       <%= @item.harvest_end.strftime('%Y年%m月%d日') %>（終了日のみ）
      <% else %>
       未設定
      <% end %>
     </h3>
     <h3 class="mt-3"><%= I18n.t("activerecord.attributes.item.statuses.#{@item.status}") %></h3>
    
    <% if @item.on_sale? %>
     <%= form_with model: @order, url: new_public_order_path, method: :get, local: true do |f| %>
      <h3 class="mt-3 mb-5">数量を選択してください：<br>
      <%= f.hidden_field :item_id, value: @item.id %>
      <%= f.hidden_field :amount, value: @amount %>
      <%= f.select :amount,*[1..100] %>個</h3>
      <%= f.submit "注文にすすむ", class: "mt-3 mb-3 offset-md-5 btn btn-outline-secondary", style: "width: 120px;" %>
      <%= link_to "戻る", public_items_path, class: "mt-3 mb-3 offset-md-5 btn btn-outline-secondary", style: "width: 120px;" %>
     <% end %>
    <% else %>
     <div class="alert alert-warning mt-4 mb-4 text-center">
      この商品は現在販売されていません。
     </div>
     <%= link_to "戻る", public_items_path, class: "mt-3 mb-3 offset-md-5 btn btn-outline-secondary", style: "width: 120px;" %>
    <% end %>
  </div>
 </div>
</div>