<header>
<nav class="container-fluid">
 <div class="row">
  <div class="col-12 col-md-10 offset-md-1 d-flex flex-wrap align-items-center">
   <div class="navbar-brand mr-auto">
    <img src="/images/logo2.png" class="favicon-circle" alt="TomoniFarm Logo">
    <%= link_to "TomoniFarm", root_path, class: "text-white", style: "font-size: 24px;" %>
   </div>

   <div class="notification-area">
    <%= link_to public_notifications_path, class: "text-white" do %>
     <strong>ðŸ””é€šçŸ¥</strong>
     <% unread_count = current_customer.notifications.where(read: false).count %>
     <% if unread_count > 0 %>
      <span class="badge"><%= unread_count %></span>
     <% end %>
    <% end %>
   </div>
   <div class="notification-dropdown">
    <% current_customer.notifications.order(created_at: :desc).limit(5).each do |notification| %>
     <div class="notification-item <%= 'unread' unless notification.read %>">
      <% link_to public_notification_path(notification), method: :patch do %>
       <% if notification.actor.present? %>
        <%= t("notifications.#{notification.notification_key}", actor: "#{notification.actor.name}ã•ã‚“") %>
       <% else %>
        <%= t("notifications.#{notification.notification_key}", actor: 'é€€ä¼šæ¸ˆã¿ã®ãƒ¦ãƒ¼ã‚¶ãƒ¼') %>
       <% end %>
      <% end %>
     </div>
    <% end %>
   </div>

   <div class="search-form ml-2 mr-5">
    <%= form_with url: public_search_path, method: :get, local: true, class:"d-flex align-items-center" do %>
     <%= select_tag :target, options_for_select([["å•†å“å","item"],["ç”Ÿç”£è€…å","farmer"],["æ—¥è¨˜ã‚¿ã‚¤ãƒˆãƒ«","diary"]], params[:target]), class: "form-control mr-2", style: "width: 140px;" %>
     <%= text_field_tag :q, params[:q], placeholder: "æ¤œç´¢ã‚­ãƒ¼ãƒ¯ãƒ¼ãƒ‰å…¥åŠ›", class:"form-control",style: "width: 220px;" %>
     <%= button_tag type: 'submit', class: 'ml-1 btn btn-outline-secondary d-flex align-items-center' do %>
      <span>æ¤œç´¢</span>
     <% end %>
    <% end %>
   </div>

   <div class="d-flex ml-auto">
    <%= link_to "ãƒžã‚¤ãƒšãƒ¼ã‚¸", public_customers_root_path, class: "btn btn-outline-secondary", style: "width: 120px;" %>
    <%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_customer_session_path, method: :delete, class: "btn btn-outline-secondary ml-2", style: "width: 120px;" %>
   </div>

  </div>
 </div>
</nav>
</header>