<header>
<nav class="container-fluid pt-3">
 <div class="row align-items-center">
  <div class="col-md-2 offset-2">
   <div class="navbar-brand mt-3 mb-3">
   <img src="/images/logo2.png" class="favicon-circle" alt="TomoniFarm Logo">
    <%= link_to "TomoniFarm", root_path, class: "text-white" %>
   </div>
  </div>
  <ul class="d-flex flex-row offset-4 col-md-4">
    <li class="d-flex mr-2">
     <%= link_to "ãƒžã‚¤ãƒšãƒ¼ã‚¸", farmer_root_path, class: "btn btn-outline-secondary", style: "font-size: 18px; width: 120px;" %>
    </li>
    <li class="d-flex mr-2">
     <%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_farmer_session_path, method: :delete, class: "btn btn-outline-secondary", style: "font-size: 18px; width: 120px;" %>
    </li>
  </ul>

  <div class="notification-area offset-md-2 col-md-2">
   <%= link_to farmer_notifications_path, class: "text-white" do %>
    <strong>ðŸ””é€šçŸ¥</strong>
    <% unread_count = current_farmer.notifications.where(read: false).count %>
    <% if unread_count > 0 %>
     <span class="badge"><%= unread_count %></span>
    <% end %>
   <% end %>
   <div class="notification-dropdown">
    <% current_farmer.notifications.order(created_at: :desc).limit(5).each do |notification| %>
     <div class="notification-item <%= 'unread' unless notification.read %>">
      <% link_to farmer_notification_path(notification), method: :patch do %>
       <%= t("notifications.#{notification.notification_key}", actor: notification.actor.name) %>
      <% end %>
     </div>
    <% end %>
   </div>
  </div>

   <div class="search-form offset-md-6">
    <%= form_with url: farmer_search_path, method: :get, local: true, class:"d-flex align-items-center gap-2" do %>
     <%= select_tag :target, options_for_select([["ãƒ¦ãƒ¼ã‚¶ãƒ¼å","customer"],["æ—¥è¨˜ã‚¿ã‚¤ãƒˆãƒ«","diary"],["å•†å“å","item"]], params[:target]), class: "form-control mr-2", style: "width: 140px;" %>
     <%= text_field_tag :q, params[:q], placeholder: "æ¤œç´¢ã‚­ãƒ¼ãƒ¯ãƒ¼ãƒ‰å…¥åŠ›", class:"form-control",style: "width: 330px;" %>
     <%= button_tag type: 'submit', class: 'ml-1 btn btn-outline-secondary d-flex align-items-center' do %>
     <span>æ¤œç´¢</span>
     <% end %>
    <% end %>
   </div>
  </div>
 </nav>
</header>