<header class="d-flex">
<nav class="container pt-3">
 <div class="row align-items-center">
  <div class="col-md-2 text-start">
   <div class="navbar-brand mt-5 mb-3">
    <%= link_to "LOGO",public_root_path %>
   </div>
  </div>
  <ul class="d-flex flex-row offset-4 col-md-6 gap-5 justify-content-end">
    <li class="d-flex">
     <%= link_to "商品一覧", farmer_items_path, class: "btn btn-outline-secondary text-black", style: "width: 90px;" %>
    </li>
    <li class="d-flex">
     <%= link_to "農家一覧", public_farmers_path, class: "btn btn-outline-secondary text-black", style: "width: 90px;" %>
    </li>
    <li class="d-flex">
    <%= link_to "マイページ", root_path, class: "btn btn-outline-secondary text-black", style: "width: 90px;" %>
   </li>
    <li class="d-flex">
     <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-outline-secondary text-black", style: "width: 90px;" %>
    </li>
    <div class="offset-9 col-md-3 d-flex justify-content-end">
    <%= form_with url: about_path, method: :get, local: true do |f| %>
     <div class="input-group">
     <%= f.search_field :query, placeholder: "Search", class:"form-control" %>
      <button class="btn btn-outline-secondary" type="submit">
       <i class="fa-solid fa-magnifying-glass"></i>
      </button>
     </div>
    <% end %>
   </div>
  </div>
 </nav>
</header>