<!DOCTYPE html>
<html>
  <head>
    <title>TomoniFarm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/png" href="/images/logo2.png">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&family=Rounded+M+Plus+1c&display=swap" rel="stylesheet">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script>window.GOOGLE_MAPS_API_KEY = "<%= ENV['GOOGLE_MAPS_API_KEY'] %>";</script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= "#{controller_name} #{action_name}" %> vh-100">
   <header class="fixed-top">
    <%= render "layouts/header_#{current_user_type}" %>
   </header>
    <%= yield %>
    <footer class="page-footer">
     <div class="copyright text-dark">
      <small>&copy; 2025 Tomoni Farm</small>
     </div>
    </footer>
  </body>
</html>
