<!DOCTYPE html>
<html>
  <head>
    <title>TomoniFarm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <script src="https://kit.fontawesome.com/gongyoumi@gmail.com.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/jpg" href="/images/logo.jpg">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="vh-100">
   <header>
    <%= render "layouts/header_#{current_user_type}" %>
   </header>
    <%= yield %>
  </body>
</html>
